<!DOCTYPE html>

<style>
body {
  padding-top: 15px;
  color: #000000;
  }

h2 {
  color: #27ace5;
  font-size: 300%;
  text-shadow: 1px 1px #000000;
}

.jumbotron-custom {
  margin-top: -50px;
  background: #000 url("images/banner_background.jpg") no-repeat center center;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  color: #FFF; // change text color
}
</style>

<div class="jumbotron jumbotron-custom">
  <div class="container">
    <h2 class="text-center" style="color: #27ace5"><b>Our Board</b></h2>
  </div>
</div>

<!--<div class="media">
  <div class="media-left">
    <img src="img_avatar1.png" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">John Doe</h4>
    <p>Lorem ipsum...</p>
  </div>
</div>-->

<div class="container">
  <div class="jumbotron">
    <div class="media">
      <div class="media-left media-middle">
        <a href="">
        <img class="media-object" src="images/board/person-man.png" style="width:70px" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">David Wilson Woods OAM - Chairman </h4>
        <h5><b>Qualifications:</b> FCPA, AGIA</h5>
        <h5><b>Experience:</b> Founding Director 1975.  Former team member, secretary and treasurer.  Experienced company secretary and accountant.
	         Mr Woods brings a wealth of wisdom and love for the work and people of Open House. </h5>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="media">
      <div class="media-left media-middle">
        <!--<a href="">-->
        <img class="media-object" src="images/board/person-man.png" style="width:70px" alt="...">
        <!--</a>-->
      </div>
      <div class="media-body">
        <h4 class="media-heading">Phillip John Sporton </h4>
        <h5><b>Qualifications:</b> Bachelor of Applied Science (Applied Electronics)</h5>
        <h5><b>Experience:</b> Former Executive Director, Service Delivery South and West - Telstra </h5>
	      <h5>Mr Sporton brings management skills and expertise with a heart for the disadvantaged </h5>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="media">
      <div class="media-left media-middle">
        <a href="">
        <img class="media-object" src="images/board/female_head.png" style="width:70px" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Melanie Anne Lamb </h4>
        <h5><b>Qualifications:</b> B.Min (Bachelor of Ministries)</h5>
        <h5><b>Experience:</b> Hospital Chaplain </h5>
			  <h5>Former staff member January 1990 – December 2000 </h5>
        <h5>Ms Lamb brings valuable experience and insights from previously working at Open House and a heart to see people grow holistically.</h5>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div calss="media">
      <div class="media-left media-middle">
        <a href="">
          <img class="media-object" src="images/board/person-man.png" style="width:70px" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Rex Malcolm Anderson </h4>
        <h5><b>Qualifications:</b> Retail Financial Trading Certificate</h5>
        <h5><b>Experience:</b> Thirty three years in the banking industry</h5>
        <h5>Former Administration &#38; Finance Manager at Open House (2000 – 2009) </h5>
        <h5>Mr Anderson brings first hand insight and vision into the operations of Open House. </h5>
      </div>
    </div>
  </div>


</div>
