<!DOCTYPE html>

<style>
body {
  padding-top: 15px;
  color: #000000;
  }

h2 {
  color: #27ace5;
  font-size: 300%;
  text-shadow: 1px 1px #000000;
}

.jumbotron-custom {
  margin-top: -50px;
  background: #000 url("images/banner_background.jpg") no-repeat center center;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  color: #FFF; // change text color
}
/*
.row.match-my-cols {
    overflow: hidden;
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
} */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: auto;
}

#myImg:hover {opacity: 0.5;}

</style>

<!-- === Jumbotron Header === -->
<div class="jumbotron jumbotron-custom">
  <div class="container">
    <h2 class="text-center" style="color: #27ace5"><b>Our Board</b></h2>
  </div>
</div>
<!-- === End Header === -->

<!-- === start Container === -->
<div class="container">
  <div class="row">
   <div class="col-md-3">
    <img height="100" width="140" align="middle" id="myImg" data-trigger="hover" data-toggle="modal" data-target="#myModal" src='images/board/DWoods.jpg' alt='...' />
      <div style="font-family: 'Sofia', cursive;">
        <p><h4 style="text-align: center"> Mr David Woods, OAM - Chairman </h4></p>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Mr David Woods, OAM - Chairman</h4>
            </div>
            <div class="modal-body">
              <p><b>Qualifications: </b>FCPA, AGIA</p>
              <p><b>Experience: </b>Founding Director 1975</p>
              <p>Former Team Member, Secretary and Treasurer.</p>
              <p>Experienced Company Secretary and Accountant.</p>
              <p>Mr Woods brings a wealth of wisdom and love for the work and people of Open House.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <img height="100" width="140" align="middle" id="myImg" data-trigger="hover" data-toggle="modal" data-target="#myModal1" src='images/board/Paul1.jpg' alt='...' />
      <div style="font-family: 'Sofia', cursive;">
        <p><h4 style="text-align: center"> Mr Paul Burgess - CEO </h4></p>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Mr Paul Burgess - CEO</h4>
            </div>
            <div class="modal-body">
              <p><b>Qualifications: </b> MA (Applied Theology Family Youth and Community Work)</p>
              <p><b>Experience: </b>Fifteen years experience in ministry to those on the fringe of society working for Churches, Not For Profits and Councils in the UK.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
     <img height="100" width="140" align="middle" id="myImg" data-trigger="hover" data-toggle="modal" data-target="#myModal2" src='images/board/PSporton.jpg' alt='...' />
      <div style="font-family: 'Sofia', cursive;">
        <p><h4 style="text-align: center"> Mr Phillip Sporton </h4></p>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Mr Phillip Sporton</h4>
            </div>
            <div class="modal-body">
              <p><b>Qualifications: </b>Bachelor of Applied Science (Applied Electronics)</p>
              <p><b>Experience: </b>Former Executive Director, Service Delivery South and West - Telstra</p>
              <p>Mr Sporton brings Management skills and expertise with a heart for the disadvantaged</p>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="col-md-3">
      <img height="100" width="140" align="middle" id="myImg" data-trigger="hover" data-toggle="modal" data-target="#myModal3" src='images/board/RAnderson.jpg' alt='...' />
      <div style="font-family: 'Sofia', cursive;">
        <p><h4 style="text-align: center"> Mr Rex Anderson </h4></p>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Mr Rex Anderson</h4>
            </div>
            <div class="modal-body">
              <p><b>Qualifications: </b>Retail Financial Trading Certificate</p>
              <p><b>Experience: </b> Thirty three years in the Banking industry.</p>
              <p>Former Administration &#38; Finance Manager at Open House (2000 – 2009)</p>
              <p>Mr Anderson brings first hand insight and vision into the operations of Open House.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End Row -->

  <div class="row">
   <div class="col-md-4">
    <img height="100" width="140" align="middle" id="myImg" data-trigger="hover" data-toggle="modal" data-target="#myModal4" src='images/board/MLamb.jpg' alt='...' />
      <div style="font-family: 'Sofia', cursive;">
        <p><h4 style="text-align: center"> Ms Melanie Lamb </h4></p>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal4" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Ms Melanie Lamb</h4>
            </div>
            <div class="modal-body">
              <p><b>Qualifications: </b>B.Min (Bachelor of Ministries)</p>
              <p><b>Experience: </b>Hospital Chaplain</p>
              <p>Former staff member January 1990 – December 2000</p>
              <p>Ms Lamb brings valuable experience and insights from previously working at Open House and a heart to see people grow holistically.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
     <img height="100" width="140" align="middle" id="myImg" data-trigger="hover" data-toggle="modal" data-target="#myModal5" src='images/board/MDonohue.jpg' alt='...' />
       <div style="font-family: 'Sofia', cursive;">
         <p><h4 style="text-align: center"> Mr Michael Donohue </h4></p>
       </div>

       <!-- Modal -->
       <div class="modal fade" id="myModal5" role="dialog">
         <div class="modal-dialog">

           <!-- Modal content-->
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Mr Michael Donohue</h4>
             </div>
             <div class="modal-body">
               <p><b>Qualifications: </b>Bachelor of Applied Science (Computer Science)</p>
               <p><b>Experience: </b>Founder and Director of medium sized IT Consulting Company</p>
               <p>Former CEO and Country Manager Deutsche Telekom (German Telecom)</p>
               <p>Mr Donohue brings a wealth of experience and knowledge from the commercial world together with an enthusiasm, desire and capacity to help disadvantaged people.</p>
             </div>
           </div>
         </div>
       </div>
     </div>

     <div class="col-md-4">
      <img height="100" width="140" align="middle" id="myImg" data-trigger="hover" data-toggle="modal" data-target="#myModal6" src='images/board/ORuiz.jpg' alt='...' />
        <div style="font-family: 'Sofia', cursive;">
          <p><h4 style="text-align: center"> Mr Oscar Ruiz </h4></p>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal6" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mr Oscar Ruiz</h4>
              </div>
              <div class="modal-body">
                <p><b>Qualifications: </b>Diploma of Management, Associate Diploma of Electronic Engineering</p>
                <p><b>Experience: </b>Former Client Solutions Executive (IBM)</p>
                <p>Mr Ruiz brings substantial managerial, computer and personnel skills and has a heart to see the ongoing development of the work so that people’s lives are positively impacted.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div> <!-- == End Row === -->
</div> <!-- === End Container === -->

<!--<div class="container">
  <div class="row match-my-cols">
    <div class="col-sm-6">
      <div class="jumbotron">
        <div class="media">
          <div class="media-left media-middle">
            <a href="">
              <img class="media-object" src="images/board/person-man.png" style="width:70px" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">David Wilson Woods OAM - Chairman </h4>
            <h5><b>Qualifications:</b> FCPA, AGIA</h5>
            <h5><b>Experience:</b> Founding Director 1975.  Former team member, secretary and treasurer.  Experienced company secretary and accountant.
	         Mr Woods brings a wealth of wisdom and love for the work and people of Open House. </h5>
         </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
  <div class="jumbotron">
    <div class="media">
      <div class="media-left media-middle">
                <img class="media-object" src="images/board/person-man.png" style="width:70px" alt="...">
        </div>
      <div class="media-body">
        <h4 class="media-heading">Phillip John Sporton </h4>
        <h5><b>Qualifications:</b> Bachelor of Applied Science (Applied Electronics)</h5>
        <h5><b>Experience:</b> Former Executive Director, Service Delivery South and West - Telstra </h5>
	      <h5>Mr Sporton brings management skills and expertise with a heart for the disadvantaged </h5>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row match-my-cols">
  <div class="col-sm-6">
  <div class="jumbotron">
    <div class="media">
      <div class="media-left media-middle">
        <a href="">
        <img class="media-object" src="images/board/female_head.png" style="width:70px" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Melanie Anne Lamb </h4>
        <h5><b>Qualifications:</b> B.Min (Bachelor of Ministries)</h5>
        <h5><b>Experience:</b> Hospital Chaplain </h5>
			  <h5>Former staff member January 1990 – December 2000 </h5>
        <h5>Ms Lamb brings valuable experience and insights from previously working at Open House and a heart to see people grow holistically.</h5>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="jumbotron">
    <div calss="media">
      <div class="media-left media-middle">
        <a href="">
          <img class="media-object" src="images/board/person-man.png" style="width:70px" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Rex Malcolm Anderson </h4>
        <h5><b>Qualifications:</b> Retail Financial Trading Certificate</h5>
        <h5><b>Experience:</b> Thirty three years in the banking industry</h5>
        <h5>Former Administration &#38; Finance Manager at Open House (2000 – 2009) </h5>
        <h5>Mr Anderson brings first hand insight and vision into the operations of Open House. </h5>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row match-my-cols">
  <div class="col-sm-6">
  <div class="jumbotron">
    <div class="media">
      <div class="media-left media-middle">
        <a href="">
        <img class="media-object" src="images/board/person-man.png" style="width:70px" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Michael Francis Donohue </h4>
        <h5><b>Qualifications:</b> Bachelor of Applied Science (Computer Science) </h5>
        <h5><b>Experience:</b> Founder and Director of medium sized IT Consulting Company, </h5>
			  <h5>Former CEO and Country Manager Deutsche Telekom (German Telecom)</h5>
        <h5>Mr Donohue brings a wealth of experience and knowledge from the commercial world together with an enthusiasm, desire and capacity to help disadvantaged people. </h5>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="jumbotron">
    <div calss="media">
      <div class="media-left media-middle">
        <a href="">
          <img class="media-object" src="images/board/person-man.png" style="width:70px" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Oscar Ruiz </h4>
        <h5><b>Qualifications:</b> Diploma of Management, Associate Diploma of Electronic Engineering</h5>
        <h5><b>Experience:</b> Former Client Solutions Executive (IBM)</h5>
        <h5>Mr Ruiz brings substantial managerial, computer and personnel skills and has a heart to see the ongoing development of the work so that people’s lives are positively impacted. </h5>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row match-my-cols">
  <div class="col-sm-6">
  <div class="jumbotron">
    <div class="media">
      <div class="media-left media-middle">
        <a href="">
        <img class="media-object" src="images/board/person-man.png" style="width:70px" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Paul Burgess - CEO</h4>
        <h5><b>Qualifications:</b> MA (Applied Theology Family Youth and Community Work) </h5>
        <h5><b>Experience:</b> Fifteen years experience in ministry to those on the fringe of society working for Churches, Not For Profits and Councils in the UK. </h5>
      </div>
    </div>
  </div>
</div>
</div> -->
