<!DOCTYPE html>

<style>
body {
  padding-top: 15px;
  color: #000000;
  }

h2 {
  color: #27ace5;
  font-size: 300%;
  text-shadow: 1px 1px #000000;
}

.jumbotron-custom {
  margin-top: 20px;
  background: #000 url("images/banner_background.jpg") no-repeat center center;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  color: #FFF; // change text color
}
</style>

<div class="jumbotron jumbotron-custom">
  <div class="container">
    <h2 class="text-center" style="color: #27ace5"><b>Contact Us</b></h2>
  </div>
</div>

<!-- ========= START GOOGLE MAP ============== -->
<div id="map"></div>
<script>
  function initMap() {
    var heidi = {lat: -37.723889, lng: 145.073310};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: heidi
  });
  var marker = new google.maps.Marker({
  position: heidi,
  map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFzSRX1kF0z5DRrPltw0dL5Pc3jdxsXtA&callback=initMap"
  async defer></script>

<!-- ========= END GOOGLE MAP ============== -->
<hr>
<!-- ========= START CONTACT FORM ========== -->

<div class="container">
  <div class="row">
    <div class="text-center">
        <h4 style="font-size:150%;">Open House - Christian Involvement Centre</h4>
        <p>Mail: <span style="color:#564F4D"> 67-71 Strathallan Rd, Macleod, Victoria </span></p>
        <p>Phone: <span style="color:#564F4D"> +613 9450 7600 </span></p>
        <p>Email: <span style="color:#564F4D"> info@openhousecic.org.au </span></p>
        <br>
    </div>
    <div class="col-md-12">
              <div class="well well-sm">
                  <form class="form-horizontal" method="post">
                      <fieldset>
                          <legend class="text-center header">Send us a Message</legend>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                              <div class="col-md-8">
                                  <input id="fname" name="name" type="text" placeholder="First Name" required="required" class="form-control">
                              </div>
                          </div>
                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                              <div class="col-md-8">
                                  <input id="lname" name="name" type="text" placeholder="Last Name" required="required" class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                              <div class="col-md-8">
                                  <input id="email" name="email" type="text" placeholder="Email Address" required="required" class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                              <div class="col-md-8">
                                  <input id="phone" name="phone" type="text" placeholder="Phone" required="required" class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                              <div class="col-md-8">
                                  <textarea class="form-control" id="message" name="message" required="required" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-md-12 text-center">
                                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                              </div>
                          </div>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
<!--/row-->

  <style>
    .bigicon {
      font-size: 35px;
      color: #36A0FF;
    }
  </style>
</div>
