<!DOCTYPE html>

<style>
body {
  padding-top: 15px;
  color: #000000;
  }

h2 {
  color: #27ace5;
  font-size: 300%;
  text-shadow: 1px 1px #000000;
}

.jumbotron-custom {
    margin-top: 20px;
    background: #000 url("images/banner_background.jpg") no-repeat center center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF; // change text color
}
</style>

<div class="jumbotron jumbotron-custom">
  <div class="container">
    <h2 class="text-center" style="color: #27ace5"><b>Useful Links</b></h2>
  </div>
</div>

<!--<div class="container">
    <h1 class="text-center"><b>Useful Links</b></h1>
    <br>
</div>-->

<div class="container">
  <div class="jumbotron">
    <h3>Banyule City Council Services</h3>
    <p><h5><i>The Banyule Council provides numerous services to its community. These services will be used by everybody in the community during different stages of their lives. These range from services for the very young (maternal and child health care and child care) through to support services for our senior citizens (delivered meals and home care services).</i></h5></p>
    <ul class='list-unstyled'>
      <li><a href='http://www.banyule.vic.gov.au/'>Banyule City Council – Home Page</a></li>
      <li><a href='http://www.banyule.vic.gov.au/Services'>Banyule City Council – Services for You</a></li>
      <li><a href='http://www.banyule.vic.gov.au/Services/Community-Services/Older-People/Home-and-Community-Care-HACC-Services'>Banyule City Council – Aged and Disability Services (Home and Community Care – HACC)</a></li>
      <li><a href='http://www.banyuleyouth.com/programs'>Banyule City Council – Youth Programs</a></li>
      <li><a href='http://www.banyule.vic.gov.au/Services/Diverse-Communities-and-Social-Inclusion/People-with-Disability/Support-Services'>Banyule City Council – Disability Support Services</a></li>
      <li><a href='http://www.banyule.vic.gov.au/Services/Diverse-Communities-and-Social-Inclusion/People-with-Disability/Support-Services#Advocacy'>Banyule City Council – Disability Advocacy</a></li>
    </ul>
  </div>
  <br>
  <div class="jumbotron">
    <h3>Emergency Help / Services</h3>
    <ul class='list-unstyled'>
      <li><a href='https://www.lifeline.org.au/'>Life Line</a></li>
      <li><a href='https://www.beyondblue.org.au/'>Beyond Blue</a></li>
      <li><a href='http://www.police.vic.gov.au/'>Victoria Police</a></li>
      <li><a href='http://www.ambulance.vic.gov.au/'>Ambulance Victoria</a></li>
      <li><a href='http://www.cfa.vic.gov.au/'>Country Fire Authority (CFA)</a></li>
      <li><a href='http://delwp.vic.gov.au/'>Department of Environment, Land, Water and Planning (DELWP)</a></li>
    </ul>
  </div>
</div>
