<!DOCTYPE html>

<style>
body {
  padding-top: 15px;
  color: #000000;
  }

h2 {
  color: #27ace5;
  font-size: 300%;
  text-shadow: 1px 1px #000000;
}

.jumbotron-custom {
  margin-top: 20px;
  background: #000 url("images/banner_background.jpg") no-repeat center center;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  color: #FFF; // change text color
}
</style>

<div class="jumbotron jumbotron-custom">
  <div class="container">
    <h2 class="text-center" style="color: #27ace5; font-family: 'Chewy', cursive;"><b>Latest News</b></h2>
  </div>
</div>
