<!DOCTYPE html>

<style>
/* === Custom Styling for Jumbotron Banner === */
body {
  padding-top: 15px;
  color: #000000;
  }

h2 {
  color: #27ace5;
  font-size: 300%;
  text-shadow: 1px 1px #000000;
}

.jumbotron-custom {
  margin-top: 20px;
  background: #000 url("images/banner_background.jpg") no-repeat center center;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  color: #FFF; // change text color
}

/* === Custom Styling for Jumbotron Partner listing === */
.row.match-my-cols {
    overflow: hidden;
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
</style>

<div class="jumbotron jumbotron-custom">
  <div class="container">
    <h2 class="text-center" style="color: #27ace5; font-family: 'Kaushan Script', cursive;"><b>Partners</b></h2>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h5>We are extremely grateful for the many generous financial donations and the provision of pro bono services received in support of the work of Open House.  In expressing our thanks, we do not list individual personal donations for reasons of both space and anonymity. </h5>
  </div>
</div>

<div class="container">
  <div class="row match-my-cols">
    <div class="col-sm-6">
      <div class="jumbotron">
          <ul class='list-unstyled'>
            <li><h4><b>Churches and Affiliated Groups </b></h4></li>
            <li><h5>•	Fairfield Trust – The Properties Corporation of the Churches of Christ</h5></li>
            <li><h5>•	Gresswell UC – E &#38; R Chalmers Bequest</h5></li>
            <li><h5>•	St James’ Ivanhoe</h5></li>
            <li><h5>•	St Johns’ Diamond Creek</h5></li>
            <li><h5>•	St Michael’s Yarrambat</h5></li>
            <li><h5>•	St. Katherine’s St. Helena</h5></li>
            <li><h5>•	Anglican Men’s Society - Bill Brady Organisation</h5></li>
            <li><h5>•	City Life Manningham</h5></li>
            <li><h5>•	Planet Shakers North East</h5></li>
            <li><h5>•	Diamond Valley, Uniting Church</h5></li>
            <li><h5>•	Gresswell Bundoora/Kingsbury/Watsonia</h5></li>
            <li><h5>•	Heidelberg/East Ivanhoe – The Sycamore Tree Coffee Shop</h5></li>
            <li><h5>•	Rosanna – Arden Crescent</h5></li>
            <li><h5>•	Rosanna – Arden Crescent Concert Committee</h5></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="jumbotron">
            <ul class='list-unstyled'>
              <li><h4><b>Philanthropic Organisations</b></h4></li>
              <li><h5>•	First Arthur and Laura Sandland Memorial Foundation</h5></li>
              <li><h5>•	Gospel Resource</h5></li>
              <li><h5>•	Iris &#38; Ken Baldwin Foundation</h5></li>
              <li><h5>•	Lynch Family Trust</h5></li>
              <li><h5>•	Mona Georgina Harris Perpetual Charitable Trust</h5></li>
              <li><h5>•	William Angliss (Vic) Charitable Fund</h5></li>
              <li><h5>•	Sisters of Mercy</h5></li>
              <li><h5>•	Lord Mayor’s Fund</h5></li>
              <li><h5>•	The Collie Trust</h5></li>
            </ul>
          </div>
        </div>
      </div> <!-- ===== End Row ===== -->

      <div class="row match-my-cols">
        <div class="col-sm-6">
          <div class="jumbotron">
            <ul class='list-unstyled'>
              <li><h4><b>Service Clubs and Community Groups </b></h4></li>
              <li><h5>•	Rotary Club of Heidelberg</h5></li>
              <li><h5>•	Rotary Club of Ivanhoe</h5></li>
              <li><h5>•	Rotary Club of Rosanna</h5></li>
              <li><h5>•	Royal Society of St George Women’s Group</h5></li>
              <li><h5>•	Soroptimist International of Deakin</h5></li>
              <li><h5>•	The Royal Society of St. George</h5></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="jumbotron">
            <ul class='list-unstyled'>
              <li><h4><b>Business Houses</b></h4></li>
              <li><h5>•	ARM – architectural services</h5></li>
              <li><h5>•	Bendigo Bank Community Enterprise Foundation</h5></li>
              <li><h5>•	Bendigo Bank Heidelberg/East Ivanhoe Community Bank Branches</h5></li>
              <li><h5>•	Danahers Mitre 10</h5></li>
              <li><h5>•	Dr Marcus Ford - dentist</h5></li>
              <li><h5>•	Eaglemont Meats</h5></li>
              <li><h5>•	Macleod Village Traders (Little Free Libraries)</h5></li>
              <li><h5>•	McCracken &#38; McCracken – legal services</h5></li>
              <li><h5>•	Miles Real Estate – Ivanhoe and Rosanna</h5></li>
              <li><h5>•	Morrison Kleeman Real Estate - Eltham</h5></li>
              <li><h5>•	Redlec Electrical Services</h5></li>
              <li><h5>•	Rock Self Storage</h5></li>
              <li><h5>•	Saward Dawson – auditors</h5></li>
            </ul>
          </div>
        </div>
      </div> <!-- ===== End Row ===== -->

    </div> <!-- ===== End Container ===== -->
