<!DOCTYPE html>

<style>
body {
  padding-top: 15px;
  color: #000000;
  }
h1 {
  color: #27ace5;
  text-shadow: 1px 1px #000000;
}
</style>

<div class="container">
    <h1 class="text-center"><b>Our Team</b></h1>
    <br>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="images/team/person.png" alt="images/team/personal.png">
        <div class="caption">
          <h3>Paul Burgess: CEO</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="images/team/person.png" alt="images/team/personal.png">
        <div class="caption">
          <h3>Paul Southwick: CEO</h3>
       <p>...</p>
       <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
     </div>
   </div>
 </div>

 <div class="col-sm-6 col-md-4">
   <div class="thumbnail">
     <img src="images/team/person.png" alt="images/team/personal.png">
     <div class="caption">
       <h3>Paul Southwick</h3>
    <p>...</p>
    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
  </div>
</div>
</div>


</div>
</div>

<!--<div class="container">
  <div class="media">
    <div class="media-left">
      <a href="#" class="thumbnail">
        <img class="media-object" src="images/team/paulb.jpg" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Paul Burgess</h4>
      <p>Postion: CEO</p>
    </div>
  </div>
</div>-->
