<!DOCTYPE html>

<style>
body {
  padding-top: 15px;
  color: #000000;
  }

h2 {
  color: #27ace5;
  font-size: 300%;
  text-shadow: 1px 1px #000000;
}

.jumbotron-custom {
  margin-top: -50px;
  background: #000 url("images/banner_background.jpg") no-repeat center center;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  color: #FFF; // change text color
}
</style>

<div class="jumbotron jumbotron-custom">
  <div class="container">
    <h2 class="text-center" style="color: #27ace5"><b>Our Team</b></h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="images/team/person.png" alt="images/team/personal.png">
        <div class="caption">
          <h3>Paul Burgess</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="images/team/person.png" alt="images/team/personal.png">
        <div class="caption">
          <h3>Paul Southwick</h3>
       <p>...</p>
       <p><a href="#" class="btn btn-default" role="button">Button</a></p>
     </div>
   </div>
 </div>

 <div class="col-sm-6 col-md-4">
   <div class="thumbnail">
     <img src="images/team/person.png" alt="images/team/personal.png">
     <div class="caption">
       <h3>Ann-Marie Fife</h3>
       <p>...</p>
       <p><a href="#" class="btn btn-default" role="button">Button</a></p>
    </div>
  </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/team/person.png" alt="images/team/personal.png">
      <div class="caption">
        <h3>Brett Ross</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
     </div>
   </div>
   </div>

   <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
       <img src="images/team/person.png" alt="images/team/personal.png">
       <div class="caption">
         <h3>Wendy Farringdon</h3>
         <p>...</p>
         <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
    </div>

</div>
</div>

<!--<div class="container">
  <div class="media">
    <div class="media-left">
      <a href="#" class="thumbnail">
        <img class="media-object" src="images/team/paulb.jpg" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Paul Burgess</h4>
      <p>Postion: CEO</p>
    </div>
  </div>
</div>-->
