<style>
body {
  padding-top: 15px;
  color: #000000;
  }

h2 {
  color: #27ace5;
  font-size: 300%;
  text-shadow: 1px 1px #000000;
}

.jumbotron-custom {
  margin-top: 20px;
  background: #000 url("images/banner_background.jpg") no-repeat center center;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  color: #FFF; // change text color
  }
  </style>

  <div class="jumbotron jumbotron-custom">
    <div class="container">
      <h2 class="text-center" style="color: #27ace5; font-family: 'Kaushan Script', cursive;"><b>What We Do</b></h2>
    </div>
  </div>


<div class="container">
  <div class="jumbotron">
    <h4><i>The team at Open House is deeply and proudly committed to a friendship based model, with outreach to old, young, disadvantaged, disabled and lonely people left behind, unwanted, unloved, or forgotten by society. For all these people we are “A place to belong,"
For many participants in our programs, we are their family.
A lot of our work is with disadvantaged youth from low socio-economic circumstances. Our early involvement in their lives helps them re-engage and stay on the straight and narrow. We help prevent them, through our offers of friendship, one on one mentoring, and role modelling, from taking troublesome paths that might otherwise lead to detention, suicide, violence, unemployment, teen pregnancy, drug dependency, or other serious consequences.
Multiple participants come back, sometimes decades later, to say Open House literally saved their, or their loved ones', lives.
We serve people of all ages from babies or young children and their caregivers, through to older Australians.
Open House receives some funding from the government but our work is really made possible by donations from generous individuals, organisations and sponsors. They are our lifeline.
</i></h4>
  </div>
</div>
