<style>

  body {
    font-family: 'Raleway', sans-serif;
  }

    /* Custom Styling for Blank Lines of different Widths */
  .blank-gap-10 {
    width:100%;
    height:10px;
  }
  .blank-gap-20 {
    width:100%;
    height:20px;
  }
  .blank-gap-30 {
    width:100%;
    height:30px;
  }

  h1 {
    color: #ffffff;
    font-size: 400%;
    text-shadow: 2px 2px #000000;
  }

  p {
    font-size: 125%;
  }

  .carousel-caption {
    position: absolute;
     top: 25%;
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-align: center;
     -moz-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
     height: 100%;
     vertical-align: middle;
     line-height: normal; /* restore original line height here */
     display: inline-block;
  }

  .col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .jumbotron {
    background-color:transparent !important;
  }

  @media (min-width: 1200px) {
    h1 {
        font-size: 400%; }
      p {
        font-size: 100%; }
   }

  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {
    h1 {
        font-size: 370%; }
      p {
        font-size: 100%; }
   }

  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
    h1 {
        font-size: 300%; }
     p {
          font-size: 95%; }
   }

  /* Landscape phones and down */
  @media (max-width: 480px) {
    h1 {
        font-size: 250%; }
      p {
        font-size: 90%; }
   }
  </style>

<div class="blank-gap-30"></div>

<div class="container">
  <div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/banner/what-we-do.jpg" alt="" class="center-block img-responsive" style="opacity: 0.9;">
        <div class="carousel-caption flex">
          <div class="row">
            <div class="col-sm-8 col-center-block">
              <hr/>
            </div>
            <div class="col-sm-12 col-center-block">
              <h1><strong>What We Do </strong></h1>
            </div>
            <div class="col-sm-8 col-center-block">
              <hr/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blank-gap-30"></div>
  <div class="jumbotron">
    <p>The team at Open House is deeply and proudly committed to a friendship based model, with outreach to old, young, disadvantaged, disabled and lonely people left behind, unwanted, unloved, or forgotten by society. For all these people we are “A place to belong,"
      For many participants in our programs, we are their family.
      A lot of our work is with disadvantaged youth from low socio-economic circumstances. Our early involvement in their lives helps them re-engage and stay on the straight and narrow. We help prevent them, through our offers of friendship, one on one mentoring, and role modelling, from taking troublesome paths that might otherwise lead to detention, suicide, violence, unemployment, teen pregnancy, drug dependency, or other serious consequences.
      Multiple participants come back, sometimes decades later, to say Open House literally saved their, or their loved ones', lives.
      We serve people of all ages from babies or young children and their caregivers, through to older Australians.
      Open House receives some funding from the government but our work is really made possible by donations from generous individuals, organisations and sponsors. They are our lifeline.
    </p>
  </div>
</div>
