
<style>
body {
  padding-top: 15px;
  color: #000000;
  }

h2 {
    color: #27ace5;
    font-size: 300%;
    text-shadow: 1px 1px #000000;
  }

.jumbotron-custom {
    margin-top: -50px;
    background: #000 url("images/banner_background.jpg") no-repeat center center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF; // change text color
}
</style>

<div class="jumbotron jumbotron-custom">
  <div class="container">
    <h2 class="text-center" style="color: #27ace5"><b>Who We Are</b></h2>
  </div>
</div>

<div class="container">
  <div class="jumbotron"> <!-- style="background:#98dfe2 !important">-->
    <h3><i>We are a registered Christian charity based in Macleod, Victoria, Australia, serving the community since 1971 with a wide range of programs and club type offerings based on a friendship model.</i></h3>
  </div>
</div>
